.title-wrapper {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding-block: 0.5rem;
  border-bottom: 1.5px solid grey;
}
@media (max-width: 40rem) {
  .title-wrapper {
    margin-inline: auto;
    border-bottom-width: 1px;
  }
}
.title-wrapper .title-img {
  width: 40px;
  height: 40px;
  overflow: hidden;
}
@media (max-width: 40rem) {
  .title-wrapper .title-img {
    width: 35px;
    height: 35px;
  }
}
.title-wrapper .title-img img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: normal;
}
.title-wrapper h3 {
  font-size: 1.125rem;
  color: rgb(33, 37, 41);
}
@media (max-width: 40rem) {
  .title-wrapper h3 {
    font-size: 1rem;
  }
}