.about-wrapper{
    display: flex;
    align-items: center;
    gap: 2rem;
    min-height: calc(100vh - 80px);
    margin-inline: auto;
    opacity: 0;
    transition: all .15s ease-out;
    @media(max-width: 40rem){
        flex-direction: column;
        gap: 1rem;
        min-height: calc(100% - 80px);
    }
    .left-section{
        flex: 1;
        box-shadow: 0 0 8px 2px rgb(183, 183, 183);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 2rem;
        border-radius: 0.25rem;
        font-size: 1.125rem;
        @media (max-width: 40rem){
            box-shadow: none;
            margin-top: 2rem;
            padding-block-end: 0;
        }
        .author-img{
            width: 50%;
            display: block;
            border-radius: 50%;
            img{
                width: 100%;
                height: auto;
            }
        }
        .social-logo{
            padding: 0.8rem 0.5rem;
            padding-top: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.2rem;
            width: 60%;
            margin-inline: auto;
            margin-top: 1.5rem;
            box-shadow: 0 0 4px 1px rgb(187, 187, 187);
            border-radius: 0.2rem;
            position: relative;
            @media (max-width: 40rem){
                width: 75%;
                gap: 2.2rem;
            }
            &::before {
                content: "Follow me";
                background-color: rgb(54, 181, 224);
                box-shadow: inherit;
                padding: 0.2rem 0.7rem;
                border-radius: 1rem;
                font-size: 0.9rem;
                position: absolute;
                top: -1rem;
                left: 0.6rem;
            }
            cursor: pointer;
            a i{
                // filter: drop-shadow(0 0 1px rgba(19, 86, 4, 0.7));
                transition: all .10s ease-out;
                padding: 0.5rem;
                color: black;
            }
            a i:hover{
                transform: scale(1.3)
            }
            a i:is(:active, :visited){
                color: unset;
            }
        }
    }
    .right-section {
        flex: 2;
        font-size: clamp(1.075rem, 2vw, 1.3rem);
        h2{
            font-size: 1.7rem;
            color: rgb(87, 87, 87);
        }
        @media (max-width: 40rem){
            padding: 0;
            margin-block-end: 2rem;
            h2{
                font-size: 1.4rem;
            }
        }
        //  @media (min-width: 40rem) and (max-width: 55rem) {
        //     font-size: 1.125rem;
        //  }
        p{
            text-align: justify;
            font-weight: 300;
        }
    }
}