*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Baloo 2';
    background-color: rgb(245, 245, 245);
}
main{
    width: 85%;
    max-width: 1300px;
    margin-inline: auto;
    transition: all .15s ease-out;
}
.animate {
    opacity: 1;
}
.active {
    border-bottom: 3px solid rgb(16, 121, 16);
}
@media (max-width: 40rem){
    main{
        width: 90%;
    }
}