.contact-wrapper{
    min-height: 100%;
    opacity: 0;
    transition: all .15s ease-out;
    position: relative;
    padding: 0;
    form{
        margin-block-start: 1.5rem;
        h2{
            margin-block-end: 1rem;
            font-size: 1.1rem;
            color: rgb(33, 37, 41);
        }
        textarea{
            resize: none;
            padding: 0.8rem;
            width: 100%;
            min-height: 10rem;
            font-size: 1rem;
            border: 1.25px solid grey;
            border-radius: 0.3rem;
            -webkit-border-radius: 0.3rem;
            @media (max-width: 40rem){
                min-height: 6rem;
                &::placeholder{
                    font-size: 0.9rem;
                }
            }
            
        }
        .input-wrapper{
            display: flex;
            flex-direction: column;
            label{
                font-size: 1.1rem;
                color: rgb(33, 37, 41);
                font-weight: 600;
            }
            .input{
                width: 100%;
                max-width: 25vw;
                font-size: 1rem;
                padding: 0.6rem 0.8rem;
                border: 1.25px solid grey;
                border-radius: 0.3rem;
                -webkit-border-radius: 0.3rem;
                @media (max-width: 40rem){
                    font-size: 16px !important; //fixed the scrolling thingables
                }
            }
            .note{
                margin-block-end: 1rem;
                margin-block-start: 0.2rem;
                font-size: 1.1rem;
                color: grey;
                span{
                    margin-inline: 0.1rem;
                    color: rgb(195, 5, 5);
                }
                @media (max-width: 40rem){
                    font-size: 1rem;
                }
            }
        }
        
        .form-btn-wrapper{
            display: flex;
            flex-direction: row-reverse;
            gap: 1rem;
            margin-top: 0.5rem;
            button{
                font-size: 0.9rem;
                font-weight: 500;
                padding: 0.7rem 0.9rem;
                border-radius: 0.25rem;
                border: none;
                cursor: pointer;
                background-color: rgb(11, 137, 11);
                color: white;
                transition: opacity 0.10s ease-out;
            }
            button:is(:hover){
                opacity: 0.8;
            }
        }
        @media (max-width: 60rem){
            .input{
                min-width: 70%;
            }
        }
        @media (max-width: 40rem){
            width: 100%;
            margin-inline: auto;
            .input{
                min-width: 100%;
            }
            .form-btn-wrapper{
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            .form-btn-wrapper button:nth-child(1){
                order: 1;
            }
            
        }
    }
    footer{
        background-color: rgb(245, 245, 245);
        color: rgb(105, 104, 104);
        border-top: 1px solid grey;
        padding-block: 1rem;
        margin-block-start: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.1rem;
       .footer-info{
        text-align: center;
            a{
                i{
                    margin-inline: 0.4rem 0.3rem;
                }
            
            }
            p{
                margin-block-start: 0.1rem;
                margin-inline-start: 0.5rem;
            }
       }
        .social-icons{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-block-start: 0.5rem;
            a i{
                padding: 0.5rem;
                transition: all .10s ease-in;
                color: rgb(107, 107, 107);
                &:hover{
                    cursor: pointer;
                    color: black;
                }
            }
            a i:is(:active, :visited){
                color: unset;
            }
        }
        @media (max-width: 55rem){
            font-size: 1rem;
            padding: 2rem;
        }
        @media (max-width: 40rem){
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
            padding: 1.5rem 0;
            font-size: 1.1rem;
            .footer-info{
                text-align: left;
            }
            .middle-footer{
                display: none;
            }
            .social-icons{
                justify-content: flex-start;
                font-size: 1rem;
            }
        }
      
    }
    
}
/*
    TO DO IF KAYA I KNOW KAYA NIMO NI MAK JUST TRUST GOOGLE MEOW
    1) WHEN MO SCROLL NA GANE KAI E DISPLAY ANG PIC NA DIV WITH ITS CORRESPONDING INFORMATION 
    //ABOUT PAGE'S WHEREABOUTS LIKE PIC NI ALLAN TAS PHOTOS KONOHAY
*/