.header {
    padding-block: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 2px 1px grey;
    background-color: rgb(245, 245, 245);
    z-index: 999;
    position: sticky;
    top: 0;
    .logo{
        width: 150px;
        height: 40px;
        margin-left: 1rem;
        @media (max-width: 40rem){
            margin-left: 0.3rem;
        }
    }
    .logo img{
        width: 100%;
        height: inherit;
        object-fit: cover;
        mix-blend-mode: multiply; //removes the backgroun ata // normal
    }
    ul{
        display: flex;
        gap: 2rem;
        margin-inline: 4rem;
        padding: 0.7rem 1.1rem;
        list-style-type: none;
    }
    ul li{
        cursor: pointer;
    }
    ul li a{
        text-decoration: none;
        color: rgb(4, 49, 4);
        font-weight: 600;
        font-size: 1.1rem;
        padding-inline: 0.2rem;
        transition: all 0.15s ease-out;
    }
    ul li a:hover{
        color: goldenrod;
    }
    .hamburger{
        background-color: transparent;
        border: none;
        margin-right: 1.5rem;
        position: absolute;
        right: 0;
        cursor: pointer;
        display: none;
        visibility: hidden;
        color: rgb(4, 49, 4);
    }
    @media (max-width: 40rem){
        .hamburger{
            display: block;
            visibility: visible;
        }
       ul{
        display: block;
        margin: 0;
        overflow: hidden;
        position: fixed;
        inset: 55px 0 0;
        background-color: white;
        transform: translateX(-100%);
        transition: transform .30s ease-out;
            li{
                margin-bottom: 1.5rem;
                padding: .5rem;
                transition: background-color .10s ease-out;
                &:hover{
                    background-color: lightblue;
                    a{
                        color: unset;
                    }
                }
                a{
                    border: none;
                }
            }
        }
       .nav-open{
        transform: translateX(0);
       }
    }
}