.title-wrapper{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding-block: 0.5rem;
    border-bottom: 1.5px solid grey;
    @media (max-width: 40rem){
        margin-inline: auto;
        border-bottom-width: 1px;
    }
    .title-img{
        width: 40px;
        height: 40px;
        overflow: hidden;
        @media (max-width: 40rem){
            width: 35px;
            height: 35px;
        }
        img{
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
            mix-blend-mode: normal;
        }
    }
    h3{
        font-size: 1.125rem;
        color: rgb(33, 37, 41);
        @media (max-width: 40rem){
            font-size: 1rem;
        }
    }
}